/*
* By Jose Aguinaga
* http://jjperezaguinaga.com
*/
/*@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);*/
/*@font-face {
  font-family: 'Pathway Gothic One';
  font-style: normal;
  font-weight: 400;
  src: local('Pathway Gothic One'), local('PathwayGothicOne-Regular'), url(http://fonts.gstatic.com/s/pathwaygothicone/v4/Lqv9ztoTUV8Q0FmQZzPqaBRcxZ7No-r1mAtcnpNU5cQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Pathway Gothic One';
  font-style: normal;
  font-weight: 400;
  src: local('Pathway Gothic One'), local('PathwayGothicOne-Regular'), url(http://fonts.gstatic.com/s/pathwaygothicone/v4/Lqv9ztoTUV8Q0FmQZzPqaL4J1CEROx9mnpUAGKYKzuk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}*/

body {
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #f2efd9 100%);
}

#home-design {
  width:58%; 
  position: absolute; 
  height: auto; 
  top: 50.1%; 
  left: 50.05%; 
  transform: translate(-50%, -50%);
}
@-webkit-keyframes rotate-right {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-left {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes hover {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
@-webkit-keyframes pull {
  0% {
    -webkit-transform: scaleY(1);
  }
  40% {
    -webkit-transform: scaleY(1.01);
  }
  60% {
    -webkit-transform: scaleY(0.99);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.99);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
#airplane2, #airplane1 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 60s linear 0s infinite;
}

#countryObjects {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 240s linear 0s infinite;
}

#floatingGlobe {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-left 360s linear 0s infinite;
}

#globe {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 0s linear 0s infinite;
}

#windmill {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 331px 201px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 2s linear 0s infinite;
}

#cloud1 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 3s linear 1s infinite;
}

#cloud2 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 3s linear 2s infinite;
}

#cloud3 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: hover 3s linear 3s infinite;
}

#circle1 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 12s linear 0s infinite;
}

#circle2 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-left 24s linear 0s infinite;
}

#circle3 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 12s linear 0s infinite;
}

#circle4 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-left 24s linear 0s infinite;
}

#circle5 {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 200px 200px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: rotate-right 12s linear 0s infinite;
}



/*Star War type */

/*body {
  background:#2EB5E5 ;
}

.object1 { 
  position: absolute;
	top:20%;
	left:25%;
	right:0;
	bottom:0; 
	width:70px;
	height:70px;
	border-radius:50%;	
	background:#87F;
	opacity:0.7;			
	box-shadow: 0px 0px 40px 15px #87F;  
}

.object1:hover {
  opacity: 1;
}
.object2 { 
  position: absolute;
	top:45%;
	left:20%;
	right:0;
	bottom:0; 
	width:70px;
	height:70px;
	border-radius:50%;	
	background:#87F;
	opacity:0.7;			
	box-shadow: 0px 0px 40px 15px #87F;  
}
.object2:hover {
  opacity: 1;
}
.object3 { 
  position: absolute;
  top:70%;
  left:25%;
  bottom:0; 
  width:70px;
  height:70px;
  border-radius:50%;  
  background:#87F;
  opacity:0.7;      
  box-shadow: 0px 0px 40px 15px #87F;  
}
.object3:hover {
  opacity: 1;
}
.object4 { 
  position: absolute;
	top:20%;
	right:25%;
	bottom:0; 
	width:70px;
	height:70px;
	border-radius:50%;	
	background:#87F;
	opacity:0.7;			
	box-shadow: 0px 0px 40px 15px #87F;  
}
.object4:hover {
  opacity: 1;
}
.object5 { 
  position: absolute;
	top:45%;
	right:20%;
	bottom:0; 
	width:70px;
	height:70px;
	border-radius:50%;	
	background:#87F;
	opacity:0.7;			
	box-shadow: 0px 0px 40px 15px #87F;  
}
.object5:hover {
  opacity: 1;
}
.object6 { 
  position: absolute;
  top:70%;
  right:25%;
  bottom:0; 
  width:70px;
  height:70px;
  border-radius:50%;  
  background:#87F;
  opacity:0.7;      
  box-shadow: 0px 0px 40px 15px #87F;  
}
.object6:hover {
  opacity: 1;
}
.ray_box {
  position: absolute;
  margin: auto;
	top:0px;
	left:0;
	right:0;
	bottom:0;	
  width:30px;  
  -webkit-animation: ray_anim 120s linear infinite;
  animation: ray_anim 120s linear infinite;
}
.ray {  
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
		background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%); 
    margin-left:10px;
    border-radius:80% 80% 0 0;
    position:absolute;
    opacity:0.1;
}

.ray1 {    
    height:70px;
    width:30px;
   -webkit-transform: rotate(180deg);
    top:-75px;
    left: 15px;
}
.ray2 {
    height:30px;
    width:8px;
   -webkit-transform: rotate(220deg);
    top:-50px;
    left: 75px;
}
.ray3 {
    height:80px;
    width:50px;
   -webkit-transform: rotate(250deg);
    top:-80px;
    left: 70px;
}
.ray4 {
    height:60px;
    width:14px;
   -webkit-transform: rotate(305deg);
    top:30px;
    left: 70px;
}
.ray5 {
    height:60px;
    width:30px;
   -webkit-transform: rotate(-15deg);
    top:60px;
    left: 40px;
}
.ray6 {
    height:50px;
    width:50px;
   -webkit-transform: rotate(30deg);
    top:60px;
    left: -40px;
}
.ray7 {
    height:80px;
    width:10px;
   -webkit-transform: rotate(70deg);
    top:-35px;
    left: -40px;
}
.ray8 {
    height:50px;
    width:30px;
   -webkit-transform: rotate(100deg);
    top:-45px;
    left:-35px;
}
.ray9 {
    height:80px;
    width:10px;
   -webkit-transform: rotate(120deg);
    top:-65px;
    left:-60px;
}
.ray10 {
    height:70px;
    width:23px;
   -webkit-transform: rotate(150deg);
    top:-65px;
    left: -60px;
}


@-webkit-keyframes ray_anim { 
		0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}    
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}








.float-home {
  -webkit-animation-name: Floatingxh;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floatingh;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}
@-webkit-keyframes Floatingxh{
    from {-webkit-transform:translate(-50%, 0%);}
    50% {-webkit-transform:translate(-40%, 40%);}
    to {-webkit-transform: translate(-50%, 0%);    }    
}
    
@-moz-keyframes Floatingh{
    from {-moz-transform:translate(-50%, 0%);}
    65% {-moz-transform:translate(-50%, 2%);}
    to {-moz-transform: translate(-50%, 0%);}    
}*/