@font-face {
	font-family: "Roboto Thin";
    src: url(../fonts/roboto-thin.ttf);
}
@font-face {
	font-family: "Roboto Light";
    src: url(../fonts/roboto-light.ttf);
}
@font-face {
	font-family: "Quarca";
    src: url(../fonts/quarca-norm-thin.otf);
}
@font-face {
	font-family: "Pathway Gothic One";
	src: url(../fonts/PathwayGothicOne-Regular.ttf);
}

body,html {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#textDiv {
	position: absolute;
	top:4%;
	display: block;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	font-size: 30px;
	color: #ffffff;
	font-family: "Quarca";
	text-shadow: 0 0 0.4em #87F, 0 0 0.4em #87F, 0 0 0.4em #87F;
	cursor: hand;
	
}

#Menu {
	position: absolute;
	width: 100%;
	display: block;
	font-size: 30px;
	color: #ffffff;
	font-family: "Quarca";
	text-shadow: 0 0 0.4em #87F, 0 0 0.4em #87F, 0 0 0.4em #87F;
	cursor: hand;
	bottom: 0%;
	left: 0%;
}

.lowermenusound:hover {
	text-shadow: 0 0 2.8em #87F, 0 0 2.8em #87F, 0 0 2.8em #87F !important;
}

.align-center {
	text-align: center;
}

.no-decoration,
.no-decoration:link,
.no-decoration:hover,
.no-decoration:active,
.no-decoration:visited {
	color: white;
	text-decoration: none;
}

#accomodationDiv {
	position: absolute;
	display: inline !important;
	top: 1% !important;
	left: 93%;/*
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);*/
	font-size: 30px;
	color: #ffffff;
	font-family: "Quarca";
	text-shadow: 0 0 0.4em #87F, 0 0 0.4em #87F, 0 0 0.4em #87F;
	
}

.float {
	-webkit-animation-name: Floatingx;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}
@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(-50%, 0%);}
    50% {-webkit-transform:translate(-50%, 40%);}
    to {-webkit-transform: translate(-50%, 0%);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(-50%, 0%);}
    65% {-moz-transform:translate(-50%, 40%);}
    to {-moz-transform: translate(-50%, 0%);}    
}

.float-acc {
	-webkit-animation-name: Floatingxacc;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floatingacc;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}
@-webkit-keyframes Floatingxacc{
    from {-webkit-transform:translate(-50%, 0%);}
    50% {-webkit-transform:translate(-50%, 20%);}
    to {-webkit-transform: translate(-50%, 0%);    }    
}
    
@-moz-keyframes Floatingacc{
    from {-moz-transform:translate(-50%, 0%);}
    65% {-moz-transform:translate(-50%, 20%);}
    to {-moz-transform: translate(-50%, 0%);}    
}

.marginLeft {
	padding-left: 20px;
}

.scaling{
	float: left;
	-webkit-animation-name: scalex;
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-moz-animation-name: scale;
	-moz-animation-duration:3s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:ease-in-out;
}

@-webkit-keyframes scalex{
    from {-webkit-transform: scale(1.0) translate(-50%, 0%);}
    65% {-webkit-transform: scale(1.1) translate(-50%, 0%);}
    to {-webkit-transform: scale(1.0) translate(-50%, 0%);}    
}
    
@-moz-keyframes scale{
    from {-moz-transform: scale(1.0) translate(-50%, 0%);}
    65% {-moz-transform: scale(1.1) translate(-50%, 0%);}
    to {-moz-transform: scale(1.0) translate(-50%, 0%);}    
}

.register {
	text-decoration: none;
}

.pro-night-image {
	width: 90%;
	height: auto;
}